/*--------------------------------------------------------------
/* For reusable layout
========================================================================== */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: transparent;
	min-height: 100vh;
	/* Fallback for when there is no custom background color defined. */
}

/* To push the footer on bottom of the page */ 
#page {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}

.site-footer {
	margin-top: auto;
	padding: 0 15px;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 15px;
}

ul, ol {
	margin: 0;
	padding-left: 20px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 15px;
}

img {
	height: auto;
	max-width: 100%;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Container */ 

.header-container,
body:not(.page) .site-content,
.footer-container {
	width: 1200px; 
	max-width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.page-content,
.entry-content,
.entry-summary ,
.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
